<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.ClubActivityMapper">

    <resultMap id="BaseResultMap" type="com.example.backend.model.pojo.ClubActivity">
            <id property="clubActivityId" column="club_activity_id" jdbcType="BIGINT"/>
            <result property="clubId" column="club_id" jdbcType="BIGINT"/>
            <result property="activityId" column="activity_id" jdbcType="BIGINT"/>
            <result property="expense" column="expense" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        club_activity_id,club_id,activity_id,
        expense,create_time,update_time,
        is_delete
    </sql>
</mapper>
