<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.UserClubMapper">

    <resultMap id="BaseResultMap" type="com.example.backend.model.entity.UserClub">
            <id property="userClubId" column="user_club_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="clubId" column="club_id" jdbcType="BIGINT"/>
            <result property="contribution_money" column="contribution_money" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
            <result property="isPassed" column="is_passed" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_club_id,user_id,club_id,
        create_time,update_time,is_delete,
        is_passed
    </sql>
</mapper>
