::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(239, 239, 239);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bfbfbf;
}

::-webkit-scrollbar-corner {
  background: #bfbfbf;
}

:root {
    --link: #007fff;
    --pink: #ff6699;
    --text2: #61666d;
    --icon: #9499a0;
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  color: #636d7e;
}

* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: middle;
}

.a-link {
    text-decoration: none;
    color: var(--link);
    cursor: pointer;
}

.el-form-item {
    align-items: center;
}

.container-body {
    margin: 0px auto;
    padding-top: 5px;
}

.el-button {
    .iconfont::before {
        margin-right: 5px;
    }
}

.label-class {
  width: 200px;
  color: #999;
  font-weight: normal;
  background: #fff;
}
.description-class {
  max-width: 295px; /* 给内容增加最大宽度 */
  word-break: break-all; /* 让内容超出列宽时自动换行显示 */
  word-wrap: break-word;
}

.activity-item-class {
  padding: 20px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.activities-class {
  background: #ffffff;
}